#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$SDly3e8n$NqLKR8T236VlSGYaN2DnM0
# Use network installation
url --url="http://172.16.251.168/centos/7"
# System language
lang en_US
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=on
network  --bootproto=dhcp --device=ens34 --onboot=on
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part / --fstype="xfs" --size=51200
part /boot --fstype="xfs" --size=2048
part /app --fstype="xfs" --size=51200
part swap --fstype="swap" --size=4096

%packages
@^minimal
@base
@core

%end
